/Senato_18
/atti_presentatori_leg18_2018_2021.csv
/collegio_elenco_senatori_18.csv
/elenco_atti_con_presentatori.csv
/elenco_ddl_con_presentatori.csv
/elenco_ddl_date.csv
/elenco_ddl_senato.csv
/elenco_documenti_date.csv
/elenco_gruppi_senato.csv
/elenco_senatori_18.csv
/elenco_votazioni_con_oggettotrattazione.csv
/senatori_legislatura_18.csv
/variazioni_gruppi_senatori.csv
/votazioni_totale_senatori_18.csv
