/Camera_18
/Congressmen_list.txt
/atti_con_primo_firmatario_descrizione_legislatura18.csv
/atti_optional_presentatori_leg18_2018.csv
/atti_optional_presentatori_leg18_2019.csv
/atti_optional_presentatori_leg18_2020.csv
/atti_optional_presentatori_leg18_2021.csv
/elenco_deputati_18.csv
/elenco_deputati_18_con_mandato.csv
/elenco_deputati_con_mandato_18.csv
/variazioni_gruppi_deputati.csv
/votazioni_totale_deputati_18.csv
